@page "/ciudadano"

@using InformacionCrud.Shared;
@using CurrieTechnologies.Razor.SweetAlert2;
@using InformacionCrud.Cliente.Services;

@inject SweetAlertService Swal;
@inject ICiudadanoService ciudadanoService;

<h3>Ciudadano</h3>

<a class="btn btn-success btn-sm mb-3" href="ciudadano">Nuevo Ciudadano</a>

<table class="table">
<thead>
	<tr>
			<th>Idciudadano</th>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Fecha de nacimiento</th>
		<th>Dui</th>
		<th>Tipo de ciudadano</th>
		<th>Nacionalidad</th>
		<th>Tipo documento</th>
		<th>Telefono fijo</th>
		<th>Telefono movil</th>
		<th>Correo electronico</th>
		<th>Direccion ciudadano</th>
		<th>Bienes</th>		
		<th></th>
	</tr>
</thead>
<tbody>

		@if(listaCiudadano == null)
		{

			<tr>
				<td colspan="15"align="center">
					<img style="width:50px" src="https://www.google.com/search?q=Gif+de+cargando+dark&sca_esv=b3631baa3837d75b&rlz=1C1UUXU_esSV973SV973&udm=2&biw=1293&bih=575&sxsrf=ADLYWILOkxstFmdUFrEqRJVLsIFfpyra3A%3A1724686216021&ei=iJ_MZpZzi5TBuQ-njs7xCg&ved=0ahUKEwiW14Tq_JKIAxULSjABHSeHM64Q4dUDCBA&uact=5&oq=Gif+de+cargando+dark&gs_lp=Egxnd3Mtd2l6LXNlcnAiFEdpZiBkZSBjYXJnYW5kbyBkYXJrSNJMUMkCWNpJcAJ4AJABAJgBkgWgAd8lqgELMC44LjcuMi4wLjK4AQPIAQD4AQGYAhCgAqUfwgIFEAAYgATCAgQQIxgnwgIGEAAYBRgemAMAiAYBkgcLMi42LjUuMS4xLjGgB9FT&sclient=gws-wiz-serp#vhid=pp66-fG5RriqZM&vssid=mosaic" />
" />

				</td>
			</tr>

		}
		else
		{
			@foreach(var item in listaCiudadano)
			{
				<tr>
					<td>@item.Idciudadano</td>
					<td>@item.Nombre</td>
					<td>@item.Apellido</td>
					<td>@item.Fechanacimiento.("dd/MM/yyyy")</td>
					<td>@item.Dui</td>
					<td>@item.Tiposciudadanos!.</td>
					<td>@item.Nacionalidad</td>
					<td>@item.Tipodedocumento</td>
					<td>@item.Telefonofijio</td>
					<td>@item.Telefonomovil</td>
					<td>@item.Correoelectronico</td>
					<td>@item.Direccionciudadano</td>
					<td>@item.Bienes</td>
					
					<td>
						<a class="btn btn-primary btn-sm"href="ciudadano/@item.Idciudadano">
							<i class="oi oi-pencil"></i>
							</a>
							<button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(() => Eliminar(item.Idciudadano))">
							<i class="oi oi-trash"></i>
							</button>

					</td>
				</tr>
			}
		}





</tbody>
</table>



@code {

	List<CiudadanoDTO>? listaCiudadano = null;


	protected override async Task OnInitializedAsync()
	{
		listaCiudadano = await ciudadanoService.Lista();
	}

	private async Task Eliminar(int id)
	{
		var resultado = await Swal.FireAsync(new SweetAlertOptions
		{
         Title = "Eliminar Ciudadano",
		 Text = "Deseas eliminar el ciudadano?",
		 Icon = SweetAlertIcon.Question,
		 ShowCancelButton = true
		});
		if (resultado.IsConfirmed)
		{
			var eliminado = await ciudadanoService.Eliminar(id);

			if (eliminado)
				listaCiudadano = listaCiudadano!.FindAll(c => c.Idciudadano != id);
		}

	}
	
	

}
